.button {
    color: hsl(0, 0%, 100%);
    font-weight: bold;
    background-color: hsl(180, 66%, 49%);
    border: none;
    width: 15rem;
    padding: 1.5rem 0;
    border-radius: 10rem;
    font-size: 1.6rem;
}


.button:hover {
    cursor: pointer;
    background-color: hsl(180, 82%, 73%);
}

.quadrado {
    border-radius: 0.8rem;
}

.pequeno {
    width: 12rem;
    padding: 1.3rem 0;
}

.copiado {
    background-color:hsl(260, 8%, 14%)
}

.copiado:hover {
    background-color:hsl(260, 8%, 14%)
}


/** Desktop **/
@media (min-width: 1800px){
    .button {
        font-size: 2rem;
        width: 20rem;
        padding: 2rem 0;
    }
    
}

@media (max-width: 1050px){
    .button {
        font-size: 1.4rem;
    }
}

@media (max-width: 705px){
    .largo {
        width: 100%;
        padding: 1.3rem 0;
    }
}