@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

h1 {
  font-size: 7rem;
  font-weight: bold;
  line-height: 8rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.5rem;
}

p {
  font-size: 1.8rem;
  color: hsl(257, 7%, 63%);
}

a, span {
  font-size: 1.6rem;
}

span {
  font-weight: bold;
}

/** Desktop **/
@media (min-width: 1800px){
  
  h2 {
    font-size: 5rem;
  }
  
  h3 {
    font-size: 3rem;
  }
  
  p {
    font-size: 2.2rem;
  }
  
  a, span {
    font-size: 2rem;
  }
}

@media (max-width: 1300px){
  h1 {
    font-size: 6.2rem;
  }
}

@media (max-width: 1210px){
  h1 {
    font-size: 5.5rem;
    line-height: 7.5rem;
  }
}

@media (max-width: 1050px){
  h1 {
    font-size: 4.9rem;
  }

  h2 {
    font-size: 3.5rem;
  }
  
  h3 {
    font-size: 2.0rem;
  }

  p {
    font-size: 1.6rem;
  }
  
  a, span {
    font-size: 1.4rem;
  }
}

@media (max-width: 950px){
  h1 {
    font-size: 4.0rem;
  }
}

@media (max-width: 855px){
  h1 {
    line-height: 6.0rem;
  }
}

@media (max-width: 800px){
  h1 {
    font-size: 3.8rem;
  }
}
