.main {
    background-color: rgb(239, 241, 247);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 5%;
    padding-top: 20rem;
}

.div1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    gap: 2rem;
}

.div1 p {
    text-align: center;
}

.div2 {
    width: 100%;
    max-width: 1324px;
    display: flex;
    gap: 3rem;
    margin-top: 10rem;
}

.div3{
    margin-top: 10%;
    background-image: url('../../public/images/bg-boost-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(257, 27%, 26%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
    padding: 5rem 0;
}

.div3 h2 {
    color: hsl(0, 0%, 100%);
}

/**  Desktop **/
@media (min-width: 2300px){
    .div2 {
        max-width: 2224px;
    }
}

@media (min-width: 2000px) and (max-width: 2300px){
    .div2 {
        max-width: 1924px;
    }
}
@media (min-width: 1800px) and (max-width: 2000px){
    .div2 {
        max-width: 1724px;
    }
}

@media (min-width: 1850px){
    .main {
        padding-top: 25rem;
    }
}

@media (min-width: 1620px) and (max-width: 1800px){
    .div2 {
        max-width: 1524px;
    }
}

@media (max-width: 1380px){

    .main {
        margin-top: 5%;
        padding-top: 21rem;
    }

    .div2 {
        width: 100%;
        padding: 0% 2%;   
        margin-top: 12rem;
    }
}

@media (max-width: 1210px){
    
    .main {
        margin-top: 8%;
        padding-top: 20rem;
    }

    .div1{
        width: 60%;
        gap: 2rem;
    }
}

@media (max-width: 1050px){
    .main {
        padding-top: 18rem;
    }

    .div2 { 
        margin-top: 10rem;
    }
}

@media (max-width: 850px){

    .div2{
        gap: 1.5rem;
    }
}


@media (max-width: 705px){
    .div1{
        width: 80%;
    }

    .div2{
        flex-direction: column;
        align-items: center;
        gap: 10rem;
    }

    main.resultadoApresentado{
        padding-top: 35rem;
    }

}

