.menu {
    background-color: hsl(100, 100, 100);
    display: flex;
    justify-content:space-between;
    width: 100%;
    max-width: 1324px;
    padding: 3% 0;
}

.div {
    display: flex;
    align-items: center;
    gap: 10%;
}

.divMobile {
    display: none;
}

.links {
    text-decoration: none;
    color: hsl(257, 7%, 63%);
    font-weight: bold;
}

.links:hover {
    color: hsl(0, 0%, 0%);
}

.marginLink {
    margin-right: 2rem;
}

/** Desktop **/

@media (min-width: 2300px) {
    .menu {
        max-width: 2224px;
    }
}

@media (min-width: 2000px) and (max-width: 2300px) {
    .menu {
        max-width: 1924px;
    }
}

@media (min-width: 1800px) and (max-width: 2000px) {
    .menu {
        max-width: 1724px;
    }
}

@media (min-width: 1620px) and (max-width: 1800px) {
    .menu {
        max-width: 1524px;
    }
}

@media (max-width: 1380px) {
    .menu {
        width: 100%;
        padding: 3% 2%;
    }
}

@media (max-width: 800px) {
    .div {
        gap:6%;
    }
    .marginLink {
        margin-right: 1rem;
    }
}

@media (max-width: 705px) {
    .menu {
        width: 100%;
        padding: 4%
    }

    .div {
        display: none;
    }

    .divMobile {
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    
    .barraMenu {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .botao {
        border: none;
        background-color: hsl(0, 0%, 100%);
    }

    .links, .links:hover {
        color: hsl(0, 0%, 100%);
    }

    .menuAberto {
        background-color: hsl(257, 27%, 26%);
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 2.5rem;
        padding: 3rem 2rem;
        border-radius: 0.8rem;
        position: absolute;
        top: 5rem;
        z-index: 1;
    }

    .menuAberto > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }

    .borda { 
        border-top: 1px solid hsl(267, 6%, 39%);
        width: 100%;
        padding-top: 2.5rem;
    }
}
