.divPrincipal {
    width: 100%;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    border-radius: 0.8rem;
}

.urlOriginal {
    color: hsl(260, 8%, 14%);
}

.divInterna {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.divInterna span {
    color: hsl(180, 66%, 49%)
}

@media (max-width: 705px) {
    .divPrincipal {
        flex-direction: column;
        padding: 2rem 3rem;
        gap: 2rem;
    }

    .divInterna {
        flex-direction: column;
        border-top: 1px solid hsl(0, 0%, 75%);
        width: 100%;
        padding-top: 2rem;
        gap: 2rem;
    }
}